@model Army_Constractor.Models.RecrutType

@{
    ViewBag.Title = "Details";
}

<h2>Описание рекрута</h2>

<table class="detailtables" border="1">
    <tr>
        <td colspan="2" style="font-size:x-large">@Html.DisplayFor(model => model.RecrutTypeName)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.RecrutTypeAbsorb)</td>
        <td>@Html.DisplayFor(model => model.RecrutTypeAbsorb)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.RecrutTypeArmorIgnore)</td>
        <td>@Html.DisplayFor(model => model.RecrutTypeArmorIgnore)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.RecrutTypeAttBonus)</td>
        <td>@Html.DisplayFor(model => model.RecrutTypeAttBonus)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.RecrutTypeDefBonus)</td>
        <td>@Html.DisplayFor(model => model.RecrutTypeDefBonus)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.RecrutTypeRank)</td>
        <td>@Html.DisplayFor(model => model.RecrutTypeRank)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.RecrutTypeBraveryBonus)</td>
        <td>@Html.DisplayFor(model => model.RecrutTypeBraveryBonus)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.RecrutTypeMove)</td>
        <td>@Html.DisplayFor(model => model.RecrutTypeMove)</td>
    </tr>
    <tr>
        <td>Стоимость:</td>
        <td>
            @Html.DisplayFor(model => model.Price)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @Html.ActionLink("Редактировать", "Edit", new { id = Model.RecrutTypeID }) |
            @Html.ActionLink("Назад", "Index") |
            @Html.ActionLink("Удалить", "Delete", new { id = Model.RecrutTypeID })
        </td>
    </tr>
</table>
@Html.DisplayFor(model => model.Description)