@model Army_Constractor.Models.RecrutType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecrutType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecrutTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecrutTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecrutTypeRank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecrutTypeRank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecrutTypeAttBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecrutTypeAttBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecrutTypeDefBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecrutTypeDefBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecrutTypeAbsorb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecrutTypeAbsorb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecrutTypeArmorIgnore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecrutTypeArmorIgnore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecrutTypeMove)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecrutTypeMove)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecrutTypeBraveryBonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecrutTypeBraveryBonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecrutTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
