@model IEnumerable<Army_Constractor.Models.RecrutType>

@{
    ViewBag.Title = "Index";
}

<h2>Рекруты</h2>

<p>
    @Html.ActionLink("Создать нового", "Create")
</p>

@foreach (var item in Model)
{
    <table class="tableElement" border="1">
        <tr>
            <td colspan="7" style="font-size:x-large">@item.RecrutTypeName</td>
        </tr>
        <tr>
            <td>Пгл</td>
            <td>Брб</td>
            <td>Атк</td>
            <td>Защ</td>
            <td>Хрб</td>
            <td>Двж</td>
            <td rowspan="8" style="font-size:xx-large" id="price" onload="recrutTypePriceCalc()">
                <script type="text/javascript">
                        var charPrices = [[@item.RecrutTypeAbsorb,5],
                            [@item.RecrutTypeArmorIgnore,5],
                            [@item.RecrutTypeAttBonus,5],
                            [@item.RecrutTypeBraveryBonus,5],
                            [@item.RecrutTypeDefBonus,5],
                            [@item.RecrutTypeMove,2],
                            [@item.RecrutTypeRank,10]];
                        var totalPrice = 0;
                        for (var i = 0; i < charPrices.length; i++) {
                            if (!isNaN(charPrices[i][0])) {
                                totalPrice += charPrices[i][1] * charPrices[i][0]};};
                        document.write(totalPrice);
                    </script>
            </td>
        </tr>
        <tr>
            <td class="tableCaracteristic">
                @item.RecrutTypeArmorIgnore
            </td>
            <td class="tableCaracteristic">
                @item.RecrutTypeAbsorb
            </td>
            <td class="tableCaracteristic">
                <script type="text/javascript">
                    document.write(@item.RecrutTypeAttBonus
                        + @item.RecrutTypeRank);
                </script>
            </td>
            <td class="tableCaracteristic">
                <script type="text/javascript">
                    document.write(@item.RecrutTypeDefBonus
                        + @item.RecrutTypeRank);
                </script>
            </td>
            <td class="tableCaracteristic">
                <script type="text/javascript">
                    document.write(@item.RecrutTypeBraveryBonus
                        + @item.RecrutTypeRank);
                </script>
            </td>
            <td class="tableCaracteristic">
                @item.RecrutTypeMove
            </td>
        </tr>
        <tr>
            <td align="right" colspan="6" style="font-size:large">Стоимость:</td>
        </tr>
        <tr>
            <td colspan="6">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.RecrutTypeID }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.RecrutTypeID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.RecrutTypeID })
            </td>
        </tr>
    </table>
}
