@model IEnumerable<Army_Constractor.Models.RecrutType>

@{
    ViewBag.Title = "Index";
}

<h2>Рекруты</h2>

<p>
    @Html.ActionLink("Создать нового", "Create")
</p>

@foreach (var item in Model)
{
    <table class="tableElement" border="1">
        <tr>
            <td colspan="7" style="font-size:x-large">@item.RecrutTypeName</td>
        </tr>
        <tr>
            <td>Пгл</td>
            <td>Брб</td>
            <td>Атк</td>
            <td>Защ</td>
            <td>Хрб</td>
            <td>Двж</td>
            <td rowspan="8" style="font-size:xx-large">
                @Html.DisplayFor(modelitem => item.RecrutTypePrice)
            </td>
        </tr>
        <tr>
            <td class="tableCaracteristic">
                @item.RecrutTypeArmorIgnore
            </td>
            <td class="tableCaracteristic">
                @item.RecrutTypeAbsorb
            </td>
            <td class="tableCaracteristic">
                <script type="text/javascript">
                    document.write(@item.RecrutTypeAttBonus
                        + @item.RecrutTypeRank);
                </script>
            </td>
            <td class="tableCaracteristic">
                <script type="text/javascript">
                    document.write(@item.RecrutTypeDefBonus
                        + @item.RecrutTypeRank);
                </script>
            </td>
            <td class="tableCaracteristic">
                <script type="text/javascript">
                    document.write(@item.RecrutTypeBraveryBonus
                        + @item.RecrutTypeRank);
                </script>
            </td>
            <td class="tableCaracteristic">
                @item.RecrutTypeMove
            </td>
        </tr>
        <tr>
            <td align="right" colspan="6" style="font-size:large">Стоимость:</td>
        </tr>
        <tr>
            <td colspan="6">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.RecrutTypeID }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.RecrutTypeID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.RecrutTypeID })
            </td>
        </tr>
    </table>
}
