@model IEnumerable<Army_Constractor.Models.Armor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArmorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArmorAbsorb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArmorMoveDecrease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArmorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArmorAbsorb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArmorMoveDecrease)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArmorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArmorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArmorID })
        </td>
    </tr>
}

</table>
