@model IEnumerable<Army_Constractor.Models.Armor>

@{
    ViewBag.Title = "Index";
}

<h2>Доспехи</h2>

<p>
	Отсортировать по: @Html.ActionLink("Дате", "Index", null, new { @class = "actionlinks" })
	| @Html.ActionLink("Названию", "Index", new { sortOption = 1 }, new { @class = "actionlinks" })
	| @Html.ActionLink("Цене", "Index", new { sortOption = 2 }, new { @class = "actionlinks" })
</p>

<p>
    @Html.ActionLink("Создать новый", "Create", null, new { @class = "actionlinks" })
</p>
@foreach (var item in Model)
{
    <table class="tableElement" border="1">
        <tr>
            <td colspan="3" style="font-size:x-large">@item.ArmorName</td>
        </tr>
        <tr>
            <td>Пгл</td>
            <td>Снж</td>
            <td rowspan="8" style="font-size:xx-large" id="price">
                @item.Price
            </td>
        </tr>
        <tr>
            <td>
                @item.ArmorAbsorb
            </td>
            <td>
                @item.ArmorMoveDecrease
            </td>
        </tr>
        <tr>
            <td align="right" colspan="2" style="font-size:large">Стоимость:</td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ArmorID }, new { @class = "actionlinks" }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.ArmorID }, new { @class = "actionlinks" }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ArmorID }, new { @class = "actionlinks" })
            </td>
        </tr>
    </table>
}