@model IEnumerable<Army_Constractor.Models.RangeWeapon>

@{
    ViewBag.Title = "Index";
}

<h2>Оружие дальнего боя</h2>

<p>
    @Html.ActionLink("Cоздать новое", "Create", null, new { @class = "actionlinks" })
</p>

@foreach (var item in Model)
{
    <table class="tableElement" border="1">
        <tr>
            <td colspan="4" style="font-size:x-large">@item.RanWeapName</td>
        </tr>
        <tr>
            <td>Брб</td>
            <td>Атк</td>
            <td>Рад</td>
            <td rowspan="3" style="font-size:xx-large">
                @item.Price
            </td>
        </tr>
        <tr>
            <td>
                @item.RanWeapArmorIgnore
            </td>
            <td>
                @item.RanWeapAttBonus
            </td>
            <td>
                @item.RanWeapRange
            </td>            
        </tr>
        <tr>
            <td align="right" colspan="3" style="font-size:large">Стоимость:</td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.RangeWeaponID }, new { @class = "actionlinks" }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.RangeWeaponID }, new { @class = "actionlinks" }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.RangeWeaponID }, new { @class = "actionlinks" })
            </td>
        </tr>
    </table>
}