@model IEnumerable<Army_Constractor.Models.MeleeWeapon>

@{
    ViewBag.Title = "Index";
}

<h2>Оружие ближнего боя</h2>

<p>
	Отсортировать по: @Html.ActionLink("Дате", "Index", null, new { @class = "actionlinks" })
	| @Html.ActionLink("Названию", "Index", new { sortOption = 1 }, new { @class = "actionlinks" })
	| @Html.ActionLink("Цене", "Index", new { sortOption = 2 }, new { @class = "actionlinks" })
</p>

<p>
    @Html.ActionLink("Создать новое", "Create", null, new { @class = "actionlinks" })
</p>


@foreach (var item in Model)
{
    <table class="tableElement" border="1">
        <tr>
            <td colspan="5" style="font-size:x-large">@item.MelWeapName</td>
        </tr>
        <tr>
            <td>Брб</td>
            <td>Рад</td>
            <td>Двр</td>
            <td>Пар</td>
            <td rowspan="8" style="font-size:xx-large" id="price">
                @item.Price
            </td>
        </tr>
        <tr>
            <td>
                @item.MelWeapArmorIgnore
            </td>
            <td>
                @item.Range
            </td>
            <td>
                @Html.CheckBoxFor(m => item.TwoHanded)
            </td>
            <td>
                @Html.CheckBoxFor(m => item.Pare)
            </td>
        </tr>
        <tr>
            <td align="right" colspan="4" style="font-size:large">Стоимость:</td>
        </tr>
        <tr>
            <td colspan="4">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.MeleeWeaponID }, new { @class = "actionlinks" }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.MeleeWeaponID }, new { @class = "actionlinks" }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.MeleeWeaponID }, new { @class = "actionlinks" })
            </td>
        </tr>
    </table>
}