@model IEnumerable<Army_Constractor.Models.BaseUnit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BaseUnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseUnitRank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseUnitAttBonus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseUnitDefBonus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseUnitAbsorb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseUnitArmorIgnore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseUnitMove)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseUnitBraveryBonus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BaseUnitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseUnitRank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseUnitAttBonus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseUnitDefBonus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseUnitAbsorb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseUnitArmorIgnore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseUnitMove)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseUnitBraveryBonus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BaseUnitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BaseUnitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BaseUnitID })
        </td>
    </tr>
}

</table>
