<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=3, minimum-scale=0.5, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/ProbeStyleSheet.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <table class="mymenu" border="0">
        <tr>
            <td><table class="innerTable" border="0">
                    <tr>
                        <td>@Html.ActionLink("Юниты", "Index", "Units", null, new { @class = "actionlinks" })</td>
                        <td>@Html.ActionLink("Оружие ближнего боя", "Index", "MeleeWeapons", null, new { @class = "actionlinks" })</td>
                        <td>@Html.ActionLink("Оружие дальнего боя", "Index", "RangeWeapons", null, new { @class = "actionlinks" })</td>
                        <td>@Html.ActionLink("Доспехи", "Index", "Armors", null, new { @class = "actionlinks" })</td>
                        <td>@Html.ActionLink("Ездовые животные", "Index", "Mounts", null, new { @class = "actionlinks" })</td>
                        <td>@Html.ActionLink("Щиты", "Index", "Shields", null, new { @class = "actionlinks" })</td>
                        <td>@Html.ActionLink("Типы рекрутов", "Index", "RecrutTypes", null, new { @class = "actionlinks" })</td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            @using (Html.BeginForm())
                            {
                                <p>
                                    @Html.TextBox("SearchString")
                                    <input type="submit" value="Поиск" formaction="@Url.Action("Search","ArmyConstractor")" />
                                </p>
                            }
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div1>
        @RenderBody()
    </div1>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
