@model Army_Constractor.Models.Shield

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить щит</h2>

<h3>Вы уверены?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        @Html.ActionLink("Назад", "Index")
    </div>
}
    <table class="detailtables" border="1">
        <tr>
            <td colspan="2" style="font-size:x-large">@Html.DisplayFor(model => model.ShieldName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ShieldDefBonus)</td>
            <td>@Html.DisplayFor(model => model.ShieldDefBonus)</td>
        </tr>
        <tr>
            <td>Стоимость:</td>
            <td>
                <script type="text/javascript">
                    document.write(@Html.DisplayFor(model => model.ShieldDefBonus)* 5);
                </script>
            </td>
        </tr>
    </table>
    @Html.DisplayFor(model => model.Description)
