@model Army_Constractor.Models.Shield

@{
    ViewBag.Title = "Details";
}

<h2>Описание щита</h2>

    <table class="detailtables" border="1">
        <tr>
            <td colspan="2" style="font-size:x-large">@Html.DisplayFor(model => model.ShieldName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ShieldDefBonus)</td>
            <td>@Html.DisplayFor(model => model.ShieldDefBonus)</td>
        </tr>
        <tr> 
            <td>Стоимость:</td>
            <td>
                @Html.DisplayFor(model => model.ShieldPrice)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ActionLink("Редактировать", "Edit", new { id = Model.ShieldID }) |
                @Html.ActionLink("Назад", "Index") |
                @Html.ActionLink("Удалить", "Delete", new { id = Model.ShieldID })
            </td>
        </tr>
    </table>
        @Html.DisplayFor(model => model.Description)
