@model IEnumerable<Army_Constractor.Models.Shield>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShieldName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShieldDefBonus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShieldName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShieldDefBonus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShieldID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShieldID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShieldID })
        </td>
    </tr>
}

</table>
