@model IEnumerable<Army_Constractor.Models.Shield>

@{
    ViewBag.Title = "Index";
}

<h2>Щиты</h2>

<p>
    @Html.ActionLink("Создать новый", "Create", null, new { @class = "actionlinks" })
</p>

@foreach (var item in Model)

{
    <table class="tableElement" border="1">
        <tr>
            <td colspan="2" style="font-size:x-large">@item.ShieldName</td>
        </tr>
        <tr>
            <td>Защ</td>
            <td rowspan="3" style="font-size:xx-large">
                @item.Price
            </td>
        </tr>
        <tr>
            <td>
                @item.ShieldDefBonus
            </td>
        </tr>
        <tr>
            <td align="right" style="font-size:large">Стоимость:</td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ShieldID }, new { @class = "actionlinks" }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.ShieldID }, new { @class = "actionlinks" }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ShieldID }, new { @class = "actionlinks" })
            </td>
        </tr>
    </table>
}

