@model Army_Constractor.Models.Unit

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Unit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Armor.ArmorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armor.ArmorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mount.MountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mount.MountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RangeWeapon.RanWeapName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RangeWeapon.RanWeapName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecrutType.RecrutTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecrutType.RecrutTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shield.ShieldName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shield.ShieldName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeleeWeaponID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeleeWeaponID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondWeaponID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondWeaponID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfCombatants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfCombatants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "actionlinks" })
        </div>
    }
</div>
