@model Army_Constractor.Models.Unit

@{
    ViewBag.Title = "Details";
}

<h2>Подробности</h2>

<table class="editTables" border="0">
    <tr>
        <td class="firstColumn">Название</td>
        <td class="secondColumn">
            @Html.EditorFor(model => model.UnitName, new { htmlAttributes = new { @class = "inputsMedium" } })
            @Html.ValidationMessageFor(model => model.UnitName, "", new { @class = "text-danger" })
        </td>
    </tr>
    <tr>
        <td class="firstColumn">@Html.DisplayNameFor(model => model.Price)</td>
        <td>@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "inputsMedium" } })</td>
    </tr>
    <tr><td colspan="2">@{Html.RenderPartial("RecrutType");}</td></tr>
    <tr>
        <td colspan="2">@Html.DisplayNameFor(model => model.Shield.ShieldName)</td>
    </tr>
    <tr><td colspan="2">@{Html.RenderPartial("Shield");}</td></tr>
    <tr>
        <td colspan="2">@Html.DisplayNameFor(model => model.Armor.ArmorName)</td>
    </tr>
    <tr><td colspan="2">@{Html.RenderPartial("Armor");}</td></tr>
    <tr>
        <td colspan="2">@Html.DisplayNameFor(model => model.MeleeWeapon.MelWeapName)</td>
    </tr>
    <tr><td colspan="2">@{Html.RenderPartial("MeleeWeapon");}</td></tr>
    <tr>
        <td colspan="2">@Html.DisplayNameFor(model => model.SecondWeaponID)</td>
    </tr>
    <tr><td colspan="2">@{Html.RenderPartial("SecondWeapon");}</td></tr>
    <tr>
        <td colspan="2">@Html.DisplayNameFor(model => model.RangeWeapon.RanWeapName)</td>
    </tr>
    <tr><td colspan="2">@{Html.RenderPartial("RangeWeapon");}</td></tr>
    <tr>
        <td colspan="2">@Html.DisplayNameFor(model => model.Mount.MountName)</td>
    </tr>
    <tr><td colspan="2">@{Html.RenderPartial("Mount");}</td></tr>
    <tr>
        <td colspan="2">
            @Html.ActionLink("Редактировать", "Edit", new { id = Model.UnitID }) |
            @Html.ActionLink("Назад", "Index")
        </td>
    </tr>
    <tr>
        <td colspan="2">
              @Html.DisplayFor(model => model.Description)
        </td>
    </tr>
</table>
