@model IEnumerable<Army_Constractor.Models.Unit>

@{
    ViewBag.Title = "Index";
}

<h2>Юниты</h2>

<p>
    @Html.ActionLink("Создать нового", "Create", null, new { @class = "actionlinks" })
</p>

@foreach (var item in Model)
{
    <table class="tableElement" border="1">
        <tr>
            <td colspan="16" style="font-size:x-large">@Html.DisplayFor(modelItem => item.UnitName)</td>
        </tr>
        <tr>
            <td colspan="3">Стрельба</td>
            <td rowspan="2">Пгл</td>
            <td rowspan="2">Брб</td>
            <td rowspan="2">Атк</td>
            <td rowspan="2">Рад</td>
            <td rowspan="2">Защ</td>
            <td rowspan="2">Хрб</td>
            <td rowspan="2">Двж</td>
            <td rowspan="2">КлБ</td>
            <td rowspan="2">Ежв</td>
            <td rowspan="6" style="font-size:xx-large">
                @item.Price
            </td>
        </tr>
        <tr>
            <td>Атк</td>
            <td>Рад</td>
            <td>Брб</td>
        </tr>
        <tr>
            <td>
                <script type="text/javascript">
                    document.write(@Html.DisplayFor(modelitem => item.RangeWeapon.RanWeapAttBonus)
                        + @Html.DisplayFor(modelitem => item.RecrutType.RecrutTypeAttBonus))
                </script>
            </td>
            <td>
                <script type="text/javascript">
                    document.write(@Html.DisplayFor(modelitem => item.RangeWeapon.RanWeapRange))
                </script>
            </td>
            <td>
                <script type="text/javascript">
                    document.write(@Html.DisplayFor(modelitem => item.RangeWeapon.RanWeapArmorIgnore))
                </script>
            </td>
            <td>
                <script type="text/javascript">
                    document.write(@Html.DisplayFor(modelitem => item.RecrutType.RecrutTypeAbsorb)
                        + @Html.DisplayFor(modelitem => item.Armor.ArmorAbsorb))
                </script>
            </td>
            <td>
                <script type="text/javascript">
                    document.write(@Html.DisplayFor(modelitem => item.RecrutType.RecrutTypeArmorIgnore)
                        + @Html.DisplayFor(modelitem => item.MeleeWeapon.MelWeapArmorIgnore) + "/")
                    document.write(@Html.DisplayFor(modelitem => item.RecrutType.RecrutTypeArmorIgnore)
                        + @Html.DisplayFor(modelitem => item.SecondWeapon.MelWeapArmorIgnore))
                </script>
            </td>
            <td>
                <script type="text/javascript">
                    document.write(@Html.DisplayFor(modelitem => item.RecrutType.RecrutTypeAttBonus)
                        + @Html.DisplayFor(modelitem => item.RecrutType.RecrutTypeRank));
                </script>
            </td>
            <td>
                <script type="text/javascript">
                    document.write(@Html.DisplayFor(modelitem => item.MeleeWeapon.Range) + "/"
                        + @Html.DisplayFor(modelitem => item.SecondWeapon.Range));
                </script>
            </td>
            <td>
                <script type="text/javascript">
                    document.write(@Html.DisplayFor(modelitem => item.RecrutType.RecrutTypeDefBonus)
                        + @Html.DisplayFor(modelitem => item.RecrutType.RecrutTypeRank)
                        + @Html.DisplayFor(modelitem => item.Shield.ShieldDefBonus));
                </script>
            </td>
            <td>
                <script type="text/javascript">
                    document.write(@Html.DisplayFor(modelitem => item.RecrutType.RecrutTypeBraveryBonus)
                        + @Html.DisplayFor(modelitem => item.RecrutType.RecrutTypeRank));
                </script>
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.RecrutType.RecrutTypeMove)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.NumberOfCombatants)
            </td>
            <td>
                @Html.ActionLink(@item.Mount.MountName, "Details", "Mounts", new { id = item.MountID }, new { @class = "actionlinks" })
                
            </td>
        </tr>
        <tr>
            <td align="right" colspan="12" style="font-size:large">Стоимость:</td>
        </tr>
        <tr>
            <td colspan="12">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.UnitID }, new { @class = "actionlinks" }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.UnitID }, new { @class = "actionlinks" }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.UnitID }, new { @class = "actionlinks" })
            </td>
        </tr>
    </table>
}